@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Secular+One');

$fontTitle: 'Secular One', sans-serif;
$fontText: 'Source Sans Pro', sans-serif;


$uiText: hsl(240, 4%, 16%);

$uiBackgroundAccent: hsl(240, 40%, 92%);

body {
  font-family: $fontText;
  color: $uiText;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontTitle;
}

.header {
  display: inline-block;
  position: relative;
}

.header:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  background-color: rgba(#df5fb9, 0.5);
}

small {
  font-size: .6em;
}

a {
  color: $uiText;
}

.noteInput {
  font-size: 1.4em;
  width: 100%;
  height: 80vh;
  resize: none;
  padding: 16px;
  border: 2px solid $uiText;
}


.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  padding: 0 32px;

  @media (min-width: 576px) {
    & {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    & {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    & {
      max-width: 960px;
    }
  }
}

// theme switcher